<md-grid-list md-cols="3" md-row-height="1:1" md-gutter="2px">
      <md-grid-tile class="hoahong" md-rowspan="2" md-colspan="1">
        <md-grid-tile-content layout-align="end end" layout-padding>
          <h1>Ý nghĩa của số lượng hoa hồng</h1>
        </md-grid-tile-content>
        ddsffss
        <md-grid-tile-footer>
          <div layout-padding layout="row" layout-align="space-between">
            <div>
              <ng-md-icon icon="query_builder"></ng-md-icon>
              <span>2 hours ago * Trần Nhung</span>
            </div>
            <div>
              <ng-md-icon icon="mode_comment"></ng-md-icon>
              <span>77</span>
            </div>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
</md-grid-list>
